body{
    margin:0;
    font-size: 1.125rem;
    background: rgb(135, 214, 16);
    
}

.container{
    background: #fff;
    max-width: 400px;
    margin: 0 auto;
    width: 90%;
    padding: 1.5em;
    margin-top: 1rem;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    text-align: center;

}

.playersScore{
    display:flex;
    justify-content: space-around;
    
}

.player1Dice, .player2Dice{
    padding: 0.5em;
    width: 1.4em;
    border-radius: 0.5em;
    background-color: #faaf23;
}

.player1Dice, .player2Dice{
    font-size: 1.8em;
    font-weight: bold;
}

.rollDice{
    background-color: #39a0fa;
    border: none; 
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.rollDice:hover{
    background-color: #78bdfa;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.resetDice{

    background-color: #f28d7e;
    border: none; 
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 1.5em;
}


.active{
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}

.reset{
    display: none;
}